.reservation{
    margin-top:100px;
    width: 450px;
    border: 3px solid #333;
    margin-right:auto;
    margin-left:auto;
    margin-bottom: 80px;
}

.titre{
    height:50px;
    margin:auto;
    background-color: grey;
}

.titre > h5{
    padding-top:12px;
    padding-left:5px;
    color: white;
}

.donnees > p, .donnees > form > p{
    margin-left:6px;
}

input{
    margin-top : 8px;
}

.codepost{
    width:60px;
}

td,th{
    border: 1px solid #333;
    text-align: center;
    vertical-align: middle;
}

.reserver{
    width: 400px;
    height: 300px;
    margin:auto;
}

.b-reserver{
    width:100px;
    margin-left:175px;
    margin-top:15px;
    margin-bottom: 10px;
}

.b-nombre{
    width:40px;
    height:20px;
}

.rad{
    margin-left: 20px;
}